################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/RabbitMQHelper/obj
/RabbitMQHelper2/bin/Debug/net6.0
/RabbitMQHelper2/obj
